@model KnockoutsBoxing.Models.Article

@{
    ViewBag.Title = "Details";
}


<div align="center">
    <h4>@Html.DisplayFor(model => model.ArticleTitle)</h4>
    <h5>By - @Html.DisplayFor(model => model.ArticleAuthor) - Date - @Html.DisplayFor(model => model.ArticleCreationDate)</h5>
    <img src="~/Content/images/@Model.ImageFileName" class="img-responsive" alt="Cinque Terre" width="800" height="650" />
    <p>Phot By SomeGuy</p>
    <p>@Html.DisplayFor(model => model.ArticleContent)</p>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleID }) |
    @Html.ActionLink("Back to Article List", "Index")
</p>
