@model KnockoutsBoxing.Models.Article

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Article Title</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleTitle)
        </dd>

        <dt>
            <p>Article Created</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleCreationDate)
        </dd>

        <dt>
            <p>Author</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleAuthor)
        </dd>

        <dt>
            <p>Content</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleContent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleID }) |
    @Html.ActionLink("Back to Article List", "Index")
</p>
