@model IEnumerable<KnockoutsBoxing.Models.Article>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New Article", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Article Title</p>
        </th>
        <th>
            <p>Article Created</p>
        </th>
        <th>
            <p>Author</p>
        </th>
        <th>
            <p>Content</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleCreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleContent)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ArticleID }) |
            @Html.ActionLink("Show All Comments", "ShowAllComments", new { id = item.ArticleID }) |
            @Html.ActionLink("Add Comment", "AddComment", new { id = item.ArticleID }) 
        </td>
    </tr>
}

</table>
