@model KnockoutsBoxing.Models.Poll

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Poll</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Poll Name</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PollName)
        </dd>

        <dt>
            <p>Poll Created</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PollCreationDate)
        </dd>

        <dt>
            <p>Boxer</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PollBoxer1)
        </dd>

        <dt>
            <p>Boxer</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PollBoxer2)
        </dd>

        <dt>
            <p>Poll Closing</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PollClosingDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PollID }) |
    @Html.ActionLink("Back to Polls", "IndexSimple")
</p>
