@model IEnumerable<KnockoutsBoxing.Models.Poll>

@{
    ViewBag.Title = "Index";
}

<h2>List of All Polls</h2>

<p>
    @Html.ActionLink("Create New Poll", "Create")
</p>
<table class="table">
    <tr>
        <th>
           <p>Poll Name</p>
        </th>
        <th>
            <p>Boxer</p>
        </th>
        <th>
            <p>Boxer</p>
        </th>
        <th>
            <p>Poll Closing Date</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PollName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PollBoxer1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PollBoxer2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PollClosingDate)
        </td>
        <td>

            @Html.ActionLink("Details", "Details", new { id=item.PollID }) |
            @Html.ActionLink("Show All Votes", "ShowAllVotes", new { id = item.PollID }) |
            @Html.ActionLink("Yes", "YesToFight", new { id = item.PollID }) |
            @Html.ActionLink("No", "NoToFight", new { id = item.PollID })



            
            


        </td>
    </tr>
}

</table>
