<p> This is the page where you can see all the votes for the Poll</p>

<p> The name of the poll is @ViewBag.PollName</p>

<p> List of votes will come here</p>

<p> List of votes of YES - @ViewBag.CountYesVotes</p>
<p> List of votes of NO - @ViewBag.CountNoVotes</p>
<p> List of votes of TOTAL - @ViewBag.TotalVotes</p>


<div>
    @Html.ActionLink("Back to Polls", "Index", "Polls")

</div>

