@model KnockoutsBoxing.Models.PollArticleUsers

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KnockoutsBoxing</h1>
    <p class="lead">KnockoutsBoxing website with polls and articles</p>
    
</div>

<div class="row">
    <div class="col-md-4">

        <p><h2>@Html.ActionLink("Articles", "Index", "Articles")</h2></p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Articles.ElementAt(0).ArticleTitle)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Articles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArticleTitle)
                    </td>

                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ArticleID })
                    </td>
                </tr>
            }

        </table>

    </div>
    <div class="col-md-4">

        <p><h2>@Html.ActionLink("Polls", "Index", "Polls")</h2></p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Polls.ElementAt(0).PollName)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model.Polls)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PollName)
                    </td>

                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.PollID})
                    </td>
                </tr>
            }

        </table>

    </div>
    <div class="col-md-4">
        <h2>News</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Articles.ElementAt(0).ArticleTitle)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model.Articles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArticleTitle)
                    </td>

                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ArticleID }) 
                    </td>
                </tr>
            }

        </table>

    </div>
</div>