@model KnockoutsBoxing.Models.PollArticleUsers

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:cornflowerblue !important" >
    <h1>Ringside Boxing</h1>
    <p class="lead">Ringside Boxing website with polls and articles</p>
    
</div>

<div class="row">
    <div class="col-md-4">

        <p><h2>@Html.ActionLink("Articles", "Index", "Articles")</h2></p>
        <table class="table">


            @foreach (var item in Model.Articles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArticleTitle)
                    </td>

                    <td>
                        @Html.ActionLink("Read Article", "Details", "Articles", new { id = item.ArticleID }, null)

                    </td>
                </tr>
            }

        </table>

    </div>
    <div class="col-md-4">

        <p><h2>@Html.ActionLink("Polls", "Index", "Polls")</h2></p>
        <table class="table">


            @foreach (var item in Model.Polls)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PollName)
                    </td>

                    <td>
                        @Html.ActionLink("View Poll Votes", "ShowAllVotes", "Polls", new { id = item.PollID},null)


                    </td>
                </tr>
            }

        </table>

    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <table class="table">
            <tr>
                <td>
                    <a href="https://www.boxinginsider.com/headlines/famed-kronk-gym-destroyed-fire/">Famed Kronk Gym Destroyed By Fire</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.boxinginsider.com/columns/saul-canelo-alvarez-deserve-rematch-ggg-golovkin/">Does Saul “Canelo” Alvarez Deserve a Rematch with GGG Golovkin</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.boxinginsider.com/headlines/42223/">All Trained by Their Father </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.boxinginsider.com/columns/vitali-klitschko-hints-return-ring-anthony-joshua/">Vitali Klitschko Hints At Return To The Ring Against Anthony Joshua</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.boxinginsider.com/headlines/daniel-jacobs-set-headline-hbo-card/">Daniel Jacobs Set To Headline HBO Card</a>
                </td>
            </tr>

        </table>

    </div>
</div>