@model KnockoutsBoxing.Models.YesOrNo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>YesOrNo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Poll.PollName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poll.PollName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FansSaidYesOrNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FansSaidYesOrNO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.YesOrNoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
